body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
}

#map_canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 5px solid black;
}

#listing {
    position: absolute;
    overflow: auto;
    cursor: pointer;
    border: 5px solid black;
    height: 10%;
    width: auto;
}

#ImageSet {
    
    position: absolute;
    left: 3%;
    top: 5%;
    max-height: 80%;
    background: transparent;
}

#controls {
    height: 40%;
    width: 30%;
    padding-top: 30%;
    font-size: 25px;
}


.placeIcon {
    height: 15px;
    margin: 2px 2px 0 0;
}

.big {
    width: 3em;
    height: 3em;
}

#resultsTable {
    font-size: 20px;
    border-collapse: collapse;
}

#locationField {
    width: 400px;
    height: 25px;
    top: 0px;
    left: 200px;
    position: absolute;
}

.table1 {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 5px solid black;
}

#results {
    height: 20%;
    border: 5px solid black;
    /* overflow: scroll; */
}


.no-padding {
    padding: 0px;
}

div.well {
  position: relative;
  max-width: 250px;
}

.panel-heading {
    cursor: pointer;
}

.panel-body {
    padding: 0;
}

.panel-body .list-group{
    margin-bottom: 0;
}

a.list-group-item {
    display: flex;
    padding: 5px 5px 5px 10px;
}

.panel-heading a:hover {
    text-decoration: unset;
}

.menu-container {
    background: transparent;
}
/* 
.list-group-item.active {
    background: red;
} */